@model RegisterViewModel

<div class="login_form">
    <h1>Register</h1>
    <div>
        @{
            if (ViewBag.returnUrl == null)
                ViewBag.returnUrl = "/";
        }
        <form asp-area="" asp-controller="Account" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div class="block">
                <label asp-for="@Model.Email"></label>
                <div class="jsection">
                    <input asp-for="@Model.Email" />
                    <span asp-validation-for="@Model.Email"></span>
                </div>
            </div>
            <div class="block">
                <label asp-for="@Model.UserName"></label>
                <div class="jsection">
                    <input asp-for="@Model.UserName" />
                    <span asp-validation-for="@Model.UserName"></span>
                </div>
            </div>
            <div class="block">
                <label asp-for="@Model.Password"></label>
                <div class="jsection">
                    <input asp-for="@Model.Password" />
                    <span asp-validation-for="@Model.Password"></span>
                </div>
            </div>
            <div>
                <input class="input btn" type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>

